.galleryContainer {
    background-color: #e6e6e6;
    height: 100%;
    margin: 2% 2%;
}
.galleryContainer2 {
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
}
.galleryHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.galleryIcon {
    padding: 0% 1%;
}
.galleryContent {
    padding: 2% 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.galleryImg {
    margin: 1%;
    border: #ffffff solid 3px;
    border-radius: 10px;
}