.homeContainer {
    background-color: #fafafa;
}
.homeContainer2 {
    background-color: white;
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.home2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.homeText {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 10px;
    padding-left: 10px;
}
.title {
    text-align: center;
    margin: 0 auto;
    font-size: xx-large;
    font-family: Impact;
    font-size: 40px;
    letter-spacing: 0.2px;
    word-spacing: 4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}

@media only screen and (max-width: 1980px) {
    .spot {
        width: 900px;
    }
}
@media only screen and (max-width: 1800px) {
    .spot {
        width: 800px;
    }
}
@media only screen and (max-width: 1610px) {
    .spot {
        width: 700px;
    }
}
@media only screen and (max-width: 1400px) {
    .spot {
        width: 1300px;
    }
}
@media only screen and (max-width: 683px) {
    .homeImage{
        width: 90%;
    }
}