.graphsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}
.graphs{
    margin: 2%;
}
.cardStyle {
    width: 500px;
    height: 400px;
}