.page  {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
}
.teamContainer {
    background-color: #e6e6e6;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
}
.teamContainer2 {
    margin: 2% 2%;
}
.teamHeader {
    display: flex;
    align-items: center;
}
.teamContent {
    padding: 1% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teamMember {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1% 0%;
}
.teamIcon {
    padding: 0% 1%;
    width: 150px;
    height: 150px;
    margin: auto;
    text-align: center;
}

.teamIcon img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    object-fit: cover;
}
.teamDescription {
    padding: 1% 1%;
    background-color: white;
    width: 70%;
}
.teamTitle {
    font-size: larger;
}
.teamText {
    font-size: large;
}